<footer class="app-footer">
  <div class="brand-footer">
    <h1>Leedmoos</h1>
  </div>
  <div class="brand-products">
    <div class="brand-column">
      <ul>
        About
        <li>About Leedmoos</li>
        <li>Jobs</li>
        <li>Business</li>
      </ul>
    </div>
    <div class="brand-column">
      <ul>
        Services
        <li>Website</li>
        <li>Marketplace</li>
        <li>ERP</li>
        <li>Mobile</li>
        <li>Cloud computing</li>
      </ul>
    </div>

    <div class="brand-column">
      <ul>
        Values
        <li>Security</li>
        <li>Reliability</li>
        <li>Innovation</li>
        <li>Diversity</li>
        <li>Progression</li>
      </ul>
    </div>
    <div class="brand-column">
      <ul>
        Support
        <li>Support central</li>
        <li>Security team</li>
        <li>Service status</li>
        <li>Manuals</li>
      </ul>
    </div>
  </div>
  <div class="brand-copyright">
    <div class="copyright-column">
      <p>
        © 2023 Leedmoos <br />All content, trade names, trademarks, artwork and
        associated images are material under the copyright of their respective
        owners. All rights reserved.
      </p>
      <img src="../../../assets/copyright.svg" alt="copyrights" />
    </div>
  </div>
  <div class="extra-info">
    <ul>
      <li>Legal basis</li>

      <li>Privacy policy</li>

      <li>Website terms of use</li>

      <li>Use site map</li>
    </ul>
  </div>
</footer>
