<div class="content">
  <div>
    <app-advertising />
    <div class="space">
      <label for="signup">Enter using credentials</label>
      <button (click)="navigate()">Sign in</button>
    </div>
  </div>

  <div class="form">
    <form action="">
      <h2><strong>Welcome</strong></h2>
      <div class="input-div">
        <label for="email">What's your email</label>
        <input
          placeholder="Enter your email"
          type="text"
          name="email"
          id="email"
        />
      </div>

      <div class="input-div">
        <label for="password">Create a password</label>
        <input
          placeholder="Create a password"
          type="password"
          name="password"
          id="password"
        />
      </div>

      <div class="input-div">
        <label for="password">What should we call you?</label>
        <input
          placeholder="Enter a profile name"
          type="password"
          name="password"
          id="password"
        />
        <p>This appears on your profile.</p>
      </div>
      <div class="row">
        <button>Sign up</button>
      </div>
    </form>
  </div>
</div>
