<div class="login-form">
  <form action="">
    <h1>
      User <br />
      <strong>Authentication</strong>
    </h1>
    <div class="input-div">
      <label for="email">Email</label>
      <input
        placeholder="Enter your email"
        type="text"
        name="email"
        id="email"
      />
    </div>

    <div class="input-div">
      <label for="password">Password</label>
      <input
        placeholder="Enter your password"
        type="password"
        name="password"
        id="password"
      />
    </div>

    <div class="row">
      <button>Sign in</button>
    </div>
  </form>
</div>
